@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1.5s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "Trueno Ultra Light";
  src: url("/fonts/TruenoUltralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Trueno Light";
  src: url("/fonts/TruenoLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Trueno Semi Bold";
  src: url("/fonts/TruenoSemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Trueno Bold";
  src: url("/fonts/TruenoBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1.5s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "Trueno Ultra Light";
  src: url("/fonts/TruenoUltralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Trueno Light";
  src: url("/fonts/TruenoLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Trueno Semi Bold";
  src: url("/fonts/TruenoSemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Trueno Bold";
  src: url("/fonts/TruenoBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Trueno", sans-serif;
}
